UNIFI_API_KEY=replace-with-your-unifi-api-key
UNIFI_HOST=10.1.2.1
TRAEFIK_IP=10.1.2.200
TRAEFIK_HOST=${TRAEFIK_IP}
TRAEFIK_PORT=8888
TRAEFIK_DNS=traefik.mydomain.com
ACTION=display
LOOP_SECONDS=0
PUID=1000
PGID=1000
USER_SHELL=bash
